
  <div class="myclass ">


    <div class="ct-pageWrapper " id="ct-js-wrapper">
      <section class="company-heading intro-type" id="parallax-one">
        <div class="">
          <div class="row product-title-info ">
            <div class="col-md-12 AM ">
            </div>
          </div>
        </div>
        <div class="parallax" id="parallax-cta"
          style="background-image:url(https://www.solodev.com/assets/hero/hero.jpg);"></div>
      </section>
      <section class="story-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding"
        id="section">
        <div class="container text-center">
          <h1>About Us </h1>
          <h3>Mudita</h3>
          <div class="col-md-8 col-md-offset-2  text-center">
            <div class="red-border"></div>
            <p class="ct-u-size22 ct-u-fontWeight300 marginTop40">Joy of helping others ..</p>
            <!-- <a class="ct-u-marginTop60 btn btn-solodev-red btn-fullWidth-sm ct-u-size19" href="#">Learn More</a> -->
          </div>

        </div>

      </section>
    </div>
&nbsp;


<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-4">

    </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <!-- <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="../../../assets/Mohammed.jpg">
        </div>
        <div class="team-content">
          <h3 class="name text-dark">Mohammed Khaled</h3>
          <h4 class="title">Team Leader</h4>
        </div>
        <ul class="social">
          <li><a href="/" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div> -->
      <div class="card p-3 py-4 mt-5 mb-4 ">
        <div class="text-center"> <img src="../../../assets/Team-members/Mohammed.jpg" width="100" class="rounded-circle">
            <h3 class="mt-4">Mohammed Khaled</h3> <span class="mt-1 clearfix">Team Leader</span>
            <div class="social-buttons mt-5">
               <button  class="neo-button" onclick="window.location.href='https://www.linkedin.com/in/mohammed-khaled-ahmed-5801b9197/';">
              <i class="fab fa-linkedin-in"></i>
               </button>
            </div>
        </div>
    </div>
    </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">

    </div>

  </div>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card p-3 py-4 mt-5 mb-5">
        <div class="text-center"> <img src="../../../assets/Team-members/Hady.jpg" width="100" class="rounded-circle">
            <h3 class="mt-4">Hady Fouad</h3> <span class="mt-1 clearfix">Team Member</span>
            <div class="social-buttons mt-5"> <button class="neo-button" onclick="window.location.href='https://www.linkedin.com/in/hady-fouad/';"><i class="fab fa-linkedin-in"></i></button>  </div>
        </div>
    </div>
    </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
          <div class="card p-3 py-4 mt-5 mb-5">
            <div class="text-center"> <img src="../../../assets/Team-members/Amira.jpg" width="100" class="rounded-circle">
                <h3 class="mt-4">Amira Yousry</h3> <span class="mt-1 clearfix">Team Member</span>
                <div class="social-buttons mt-5"> <button class="neo-button" onclick="window.location.href='https://www.linkedin.com/in/amira-yousry-li/';"><i class="fab fa-linkedin-in"></i></button>  </div>
            </div>
        </div>
    </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
          <div class="card p-3 py-4 mt-5 mb-5">
            <div class="text-center"> <img src="../../../assets/Team-members/Mahmoud.jpg" width="100" class="rounded-circle">
                <h3 class="mt-4">Mahmoud Moataz</h3> <span class="mt-1 clearfix">Team Member</span>
                <div class="social-buttons mt-5"> <button class="neo-button" onclick="window.location.href='https://www.linkedin.com/in/mahmoudelyamany/';"><i class="fab fa-linkedin-in"></i></button>  </div>
            </div>
        </div>
    </div>

  </div>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card p-3 py-4 mt-5 mb-5">
        <div class="text-center"> <img src="../../../assets/Team-members/Aya.jpg" width="100" class="rounded-circle">
            <h3 class="mt-4">Aya Ragab</h3> <span class="mt-1 clearfix">Team Member</span>
            <div class="social-buttons mt-5"> <button class="neo-button" onclick="window.location.href='https://www.linkedin.com/in/ayaaragab/';"><i class="fab fa-linkedin-in"></i></button>  </div>
        </div>
    </div>
    </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
          <div class="card p-3 py-4 mt-5 mb-5">
            <div class="text-center"> <img src="../../../assets/Team-members/Verina.jpg" width="100" class="rounded-circle">
                <h3 class="mt-4">Verina Wasfy</h3> <span class="mt-1 clearfix">Team Member</span>
                <div class="social-buttons mt-5"> <button class="neo-button" onclick="window.location.href='https://www.linkedin.com/in/verinawasfy/';"><i class="fab fa-linkedin-in"></i></button>  </div>
            </div>
        </div>
    </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
          <div class="card p-3 py-4 mt-5 mb-5">
            <div class="text-center"> <img src="../../../assets/Team-members/Mayar.jpg" width="100" class="rounded-circle">
                <h3 class="mt-4">Mayar Zaghlol</h3> <span class="mt-1 clearfix">Team Member</span>
                <div class="social-buttons mt-5"> <button class="neo-button" onclick="window.location.href='https://www.linkedin.com/in/mayar-mohamed-zaghlol-79107a186/';" ><i class="fab fa-linkedin-in"></i></button>  </div>
            </div>
        </div>
    </div>

  </div>
</div>

  </div>
