<!-- Footer -->
<section *ngIf="nav.visible" id="footer" class="pb-0">
    <div class="container">
        <div class="row text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a  routerLink="/home">Home</a></li>
                    <li><a  routerLink="/searchcompare">Compare</a></li>
                    <li> <a routerLink="/allCategories" >Categories</a></li>
                    <li><a routerLink="/interviewques" >Interview Questions</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 text-light">
                <h5>Contact US</h5>
                <ul class="list-unstyled quick-links">
                    <p><i class="bi bi-geo-alt-fill me-3"></i> Alexandria , Egypt</p>
                    <p>
                        <i class="bi bi-envelope-fill me-3"></i> Company@Mudita.com
                    </p>
                    <p><i class="bi bi-phone-fill me-3"></i> +20 122 0081005</p>

                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 ">
                <h5>Social links</h5>
                <ul class="list-unstyled list-inline social ">
                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
        </div>



        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-5 mt-sm-2 text-center text-white">
                <p class="h6 mt-3">© All right Recieved <a class="text-green ml-2"  target="_blank">MUDITA</a></p>
            </div>
            <hr>
        </div>
    </div>


</section>
<!-- ./Footer -->
