<!--pass card-->
<p-card>
    <h3 class="pl-3 ">Change Password</h3>
    <hr />

    <form #userform="ngForm" novalidate (ngSubmit)="Save()">
        <span>Old Password</span>
        <p-password [feedback]="false" [toggleMask]="true" [(ngModel)]="userPass.CurrentPassword"
            [ngModelOptions]="{standalone: true}"></p-password>
        <div class="row py-4">
            <div class="col-lg-6 col-md-6">
                <span>New Password</span>
                <p-password [toggleMask]="true" [(ngModel)]="userPass.NewPassword"
                    [ngModelOptions]="{standalone: true}">
                    <ng-template pTemplate="header">
                        <h6>Pick a password</h6>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <p-divider></p-divider>
                        <p class="p-mt-2">Suggestions</p>
                        <ul class="p-pl-2 p-ml-2 p-mt-0" style="line-height: 1.5">
                            <li>At least one lowercase</li>
                            <li>At least one uppercase</li>
                            <li>At least one numeric</li>
                            <li>Minimum 8 characters</li>
                        </ul>
                    </ng-template>
                </p-password>
            </div>
            <div class="col-lg-6 col-md-6">
                <span>Confirm Password</span>
                <p-password [feedback]="false" [toggleMask]="true" [(ngModel)]="userPass.ConfirmPassword"
                    [ngModelOptions]="{standalone: true}"></p-password>
            </div>
        </div>
        <p-toast></p-toast>
        <button [style]="{'width':'16%'}" class="btn p-button-danger" pButton type="submit" label="Save Update"
            [disabled]="userform.invalid"></button>
    </form>
</p-card>